.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.active{
  color: red;
}
a{
  color: rgb(95, 95, 95);
}
.meo{
  color: #61dafb;
}
.mangaReadContainer img{
  max-width: 300px;
  max-height: 450px;
  width: 100%;
  height: 100%;
}
.mangaReadTitle{
  font-size: 2rem;
  font-weight: bold;
}
.mangaReadChapters{
  display: flex;
  flex-direction: column-reverse;
}
.MGdescription{
  font-size: 1.5rem;
}
.ContactForm{
  margin: 5rem;
}
.ContactForm p{
  text-align: left;
  font-size: 1.2rem;
  color: red;
}
.ContactForm form input, .ContactForm  form textarea{
  width: 100%;
  border: 1px solid #000;
  padding: 1rem;
}
.ContactForm button{
  background: none;
  padding: 0.5em 1em;
  border: 1px solid rgb(12, 12, 12);
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 3px;
  margin: 1em;
}
.ContactForm button:active{
  box-shadow: none;
}
