*{
	cursor: url('cursor.cur'),auto;
}
body, header, nav, .logo{
	margin:0;
	width:100%;
}
.logo{
	background: url('background.png');
	text-align: center;
	border: 2px solid #000;
    font-family: 'Open Sans';
    position: relative;
}
.search-bar{
	color: #fff;	
	position: absolute;
	top: 10px;
	right: 10px;
	background: #000;
	border-radius: 5px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.search-bar input, .search-bar button{
	background: none;
	outline: none;
	border: none;
	padding: 5px 10px;
	color: #fff;
}
.search-bar button{
	cursor: pointer;
}
.logo p{
	font-style: italic;
}
nav {
	margin: 10px 0 0 10px;
}
nav ul{
	list-style: none;
	margin:0;
	padding: 0;
	text-align: center;
}
nav ul li{
	padding: 10px;
	float: left;
	margin: 0;
	background: #ccc;
	position: relative;
	transition: all 0.75s;
	border: 1px solid #000;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
}
nav ul li:hover{
	background: #000;
	border: 1px solid #fff;
}
nav ul li:hover>ul{
	display: block;
}
nav ul li ul{
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
}
nav ul li ul li{
	width: inherit;
}
nav ul li ul li ul{
	position: absolute;
	left: 100%;
	top: 0;
}
.container{
	width: 100%;
	float: left;
	text-align: center;
}
article{
	background: #ffa9a93b;
	border-bottom: 1px solid #000; 
}
article p, article h2{
	font-family: 'Open Sans';
	padding: 20px;
	text-align: left;
}
article h2 {
	text-align: center;
}
.title-1, .title-2{
	background: #000;
	color: #fff;
}
footer{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	padding: 20px 0;
}
.footer-1, .footer-2, .footer-3{
	width: 300px;
	height: 400px;
	border: 1px solid #000;
	margin: 10px;
}
.credit{
	text-align: center;
	width: 100%;
	float: left;
	background: #000;
	color: #fff;
}
.video{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.footer-1{
	background: url(cua1.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.footer-2{
	background: url(cua2.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.footer-3{
	background: url(cua3.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
