*{
    font-family: monospace;
}

body,h1{
    margin: 0;
}
a{
    text-decoration:none;
    color: #000; 
}
nav{
    box-shadow: 2px 2px 4px #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 5rem;
    height: 1rem;
    padding: 1rem;
    cursor: pointer;
}
.menu{
    overflow: hidden;
    font-size: 1.5em;
}
.menu a{
    float: left;
    padding: 1rem;
}
.menu a:hover{
    color: rgb(0, 183, 255);
}
.search-bar{
    padding-right: 1em;
    text-align: center;
    display: flex;

}
.search-bar button{
    width: 25px;
    height: 25px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid #ccc;
    cursor: pointer;
}
.search-bar button:hover{
    border-color: black;
}
.search-bar input{
    padding-left: 1em;
    outline-color: rgb(71, 71, 71);
}
.fa-sort-down{
    vertical-align: text-top;
}
header{
    width: 95%;
    padding: 0 2.5%;
    display: flex;
}
.main-container{
    width: 50%;
    padding: 3em 5%;
}
.trending-update{
    box-shadow: 2px 2px 2px #ccc;
    padding: 1em;
}
.temp{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}
.trending-title p{
    color: rgb(255, 81, 0);
    font-size: 1.4em;
    font-weight: bold;
}
.temp h1{
    font-family: monospace;
    font-size: 1.5em;
}
.trending-wrapper{
    display: flex;       
    justify-content: space-between;
    font-size: 1.1em;
}
.col-3 img{
    width: 72px;
    height: 98px;
}
.col-3 .trending-up{
    font-size: 1.2em;
    font-weight: bold;
}
.trending-down{
    font-size: 1.1em;
}
.trending-content{
    display: flex;
    flex-direction: column;
}
.new-collection{
    padding: 1em;
    margin: 3em 0;
    box-shadow: 2px 2px 2px #ccc;
}
.latest-update{
    padding: 1em;
    margin: 3em 0;
    box-shadow: 2px 2px 2px #ccc;
    font-size: 1.2em;
}
.latest-update h3{
    color: rgb(255, 81, 0);
}
.manga-info img{
    width: 72px;
    height: 98px;
}
.children-manga{
    display: inline-flex;
    flex-direction: column;
}
.manga-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-size: 1.1em;
}
.manga-info p{
    color: rgb(90, 90, 90);
}
.manga-info a{
    font-family: Georgia;
    font-size: 0.8em;
}
.children-manga a{
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    padding-top: 0.5em;
    font-family: Verdana;
}
.side-bar-wrapper{
    width: 30%;
    margin: 3em;
}
.side-bar{
    width: 100%;
    box-shadow: 0.2em 0.2em 0.2em #ccc;
}
.sidebar-children-manga{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
}
.sidebar-children-manga a{
    font-size: 1.2em;
}
.sidebar-children-manga img{
 width: 72px;
 height: 98px;
}
.sidebar-content{
    background: rgb(243, 243, 243);
    padding: 0.5em;
}
.sidebar-title{
    font-size: 1.8em;
    color: rgb(255, 255, 255);
    background: rgb(49, 49, 49);
    border: 1px solid #000;
    padding: 0 0.5em;
}
footer{
    background: #000;
}
footer p{
    font-size: 1.3em;
    padding: 1em 0;
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: Verdana;
}
.page-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-section a, .page-section p{
    border: 1px solid#000;
    margin: 1em;
    padding: 0.5em 1em;
}
@media only screen and (max-width:900px){
    nav{
        flex-direction: column;
        padding: 1em;
    }
    header{
        margin: 0;
        padding:0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-container{
        width: 100%;
        margin:0;
        padding: 0;
    }
    .side-bar-wrapper{
        display: none;
    }
    .page-section a, .page-section p{
        margin: 0.3em;
        padding: 0.2em 0.5em;
    }
}